# based on iris "refresh-lockfiles.yml"
# Updates the environment lock files. See the called workflow in the
# scitools/workflows repo for more details.

name: Call the common operation


on:
  workflow_dispatch:
#  schedule:
#    # Run once a week on a Saturday night
#    # N.B. "should" be quoted, according to
#    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#onschedule
#    - cron: "1 0 * * 6"

jobs:
  call_it:
    uses: workflows/common/callable@v1


